@import url("https://use.typekit.net/euz1eqv.css");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: calc(100vw / 1440 * 16);
}
body {
    background-color: #23272a;
    overflow: hidden;
}
h1,
h2 {
    font-family: "acta-display", serif;
}
img {
    -webkit-user-drag: none;
    user-select: none;
}
::-webkit-scrollbar {
    display: none;
}
